@page "/quiz"
@inject HttpClient Http
@inject BlazorWASM.Services.APIService ApiService
@using System.Text.Json;
@using System.Diagnostics.CodeAnalysis;
@using System.Net;


<h3>Quiz</h3>



<p role="status">Question number: @questionCount/30</p>


<button class="btn btn-@color" @onclick="IncrementCountUp">Next Question</button>
<button class="btn btn-@color" @onclick="ChangeColor">Change color</button>


@if (data == null)
{
	<p><em>Loading...</em></p>
}
else
{

	//int count = data.Count;
	var item = data[currentCount];
	Console.WriteLine(item);

	foreach (var incorrect in @item.incorrect_answers)
	{
		<li>
			<b>Incorrect answer:</b>
			@incorrect
		</li>
	}
	<li>
		<b>Question:</b>
		@item.question
	</li>
	<li>
		<b>Correct answer:</b>
		@item.correct_answer
	</li>
	<li>
		<b>Difficulty:</b>
		@item.difficulty
	</li>


	@* string[] incorrect_array; *@


	string[] incorrect_array = @item.incorrect_answers.Append(@item.correct_answer).ToArray();

	Random.Shared.Shuffle(incorrect_array);

	foreach (string incorrect in @incorrect_array)
	{
		Console.WriteLine("@incorrect_array = " + @incorrect);


	}


	<button class="btn btn-@color" @onclick="ChangeColor">Change color</button>


}

@code {

	private int currentCount = 0;
	private int questionCount = 1;
	private string color = "primary";
	private void IncrementCountUp()
	{
		currentCount++;
		questionCount = currentCount + 1;
	}
	private void ChangeColor()
	{
		color = "danger";

	}



	private List<Result>? data;

	protected override async Task OnInitializedAsync()
	{
		var root = await Http.GetFromJsonAsync<Root>("https://opentdb.com/api.php?amount=30");
		if (root != null)
		{
			data = root.results;

			foreach (var item in data)
			{
				item.question = WebUtility.HtmlDecode(item.question);
				item.correct_answer = WebUtility.HtmlDecode(item.correct_answer);

				// Decode each incorrect answer too
				for (int i = 0; i < item.incorrect_answers.Count; i++)
				{
					item.incorrect_answers[i] = WebUtility.HtmlDecode(item.incorrect_answers[i]);
				}
			}
		}
		else
		{ return; }
	}



}